* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#delicious {
  width: 199px;
  display: flex;
  justify-content: space-around;
  margin-left:142px;
}

#delicious img {
  float: left;
}


#vanessa {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 35px auto 0 auto;
  width: 800px;
  color: #4a4740;
}

#bio {
  width: 520px;
}

#vanessa p:nth-child(3) {
  width: 175px;
  height: 54px;
  background-color: #bc7058;
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

#end {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-right: 20px;
  margin-left: 20px;
}

.line {
  height: 3px;
  width: 48%;
  background-color: #b5adab;
  margin-top: 16px;
}

footer p {
  color: #b5adab;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.georgia {
  font-family: Georgia, serif;
}

#icons {
  width: 100%;
  background-color: red;
}

#icons li {
  list-style-type: none;
  display: inline;
  text-decoration: none;
}

#icons ul {
  width: 240px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  float: right;
}

#rss {
  margin-left: 10px;
}

#tagline {
  font-size: 50%;
}

#blog-name {
  font-size: 30px;
}

.bar {
  background-color: grey;
  width: 72%;
  height: 10px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#headline {
  width: 400px;
  margin-left: 142px;
}

#bottom-bar {
  margin-top: 200px;
}

h1 {
  margin-top: 30px;
}

h3 {
  font-size: 50%;
}

#print {
  margin-right: 140px;
  display: flex;
  justify-content: space-around;
  font-size: 60%;
  float: right;
  width: 70px;
}

#print img {
  height: 10px;
  width: 7px;
}

#cake {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
}

#instructions {
  margin-top: 30px;
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-indent: 20px;
}

#ingredients {
  background-image: url("img/list-bg.png");
  height: 305px;
  width: 899px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  padding-left: 50px;
  padding-top: 37px;
  font-family: "Comic Sans MS", sans-serif;
}

#ingredient-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

input {
  margin-right: 5px;
}

div li {
  margin-top: 7px;
}
